.nav-toggle {
  display: none;
}

@media (max-width: 760px) {

  .nav-toggle {
    display: block;
    margin-right: 35vw;
    margin-left: 12px;
  }
}
@media (max-width: 420px) {

  .nav-toggle {
    margin-right: 32vw;
  }
}
@media (max-width: 375px) {

  .nav-toggle {
    margin-right: 29vw;
  }
}